@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Open Sans', sans-serif;
    @apply bg-slate-200;
}

#cancel{
    @apply bg-green-300;
}

.chooseProjectNameDiv{
    @apply flex gap-6;
}

#content{
    @apply flex;
}

#create{
    @apply bg-red-300;
}

input[type="submit"]{
    cursor:pointer;
}

.menu{
    @apply w-20 h-16 pl-8;
    cursor:pointer;
}

#name{
    @apply bg-black border border-white rounded-sm;
}

.navBar{
    @apply flex items-center justify-center basis-4 border-b-2 border-black;
    height:15vh;
}

.navBarTitle{
    @apply text-6xl text-center;
    flex-grow: 1;
}

#newProject{
    @apply w-8 h-8 cursor-pointer;
}

.newProjectData{
    @apply bg-black text-white opacity-7 p-4 rounded-md flex gap-6 flex-col items-center justify-center absolute left-2/5 top-1/3;
    height:30vh;
}

.projectDiv{
    @apply flex gap-8;
}

.projectMenuTitle{
    @apply text-2xl font-bold flex items-center justify-between pr-12;
}

.projectMenu {
    @apply w-60 bg-black opacity-70 flex flex-col text-white pl-4 pt-4 gap-6;
    height: 85vh;
    transition:transform 0.5s ease;
    transform: translateX(0);
}

.projectMenuSummary{
    @apply flex flex-col gap-6 pl-2;
}

.projectMenuTransition{
    transition:transform 0.5s ease;
    transform:translateX(-100%);
}

#remove{
    cursor:pointer;
}
